
table{
    width: 300px;
    height: 240px;
}
table,tr,td{
    border: 1.7px solid black;
    border-collapse: collapse;
    text-align: center;
}
.row1{
height: 30px;
}
.row8{
    height: 30px;
    background-color: gainsboro;
}
.Logo{
    width: 50px;
    background-color: rgb(240, 184, 240);
}
.TopMenu{
    width: 250px;
    background-color: rgb(186, 236, 255);
}
.FS{
    width: 100px;
    height: 90px;
    background-color: rgb(242, 236, 180);
}
.ADS{
    width: 50px;
    background-color: rgb(240, 184, 240);
}
.Menu{
    background-color: rgb(186, 236, 255) ;
}
