
<div class="myhome card text-bg-dark">
    <img src="https://www.shopequipment.ie/cdn/shop/files/DSC_2287.jpg?v=1677167040&width=1500" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Name" placeholder="Susan">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Surname" placeholder="Simson">
            </div>
          </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="**********">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Address" placeholder="Wolf st">
            </div>
          </div>
    </div>
  </div>