<section class="input-section">
    <div class="container">
      <div class="input">
        <div class="left wrapper">
          <h1>

            678. Valid Parenthesis String</h1>
          <p>
            Given a string s containing only three types of characters: '(', ')' and '*', return true if s is valid.

            The following rules define a valid string:
            
            Any left parenthesis '(' must have a corresponding right parenthesis ')'.
            Any right parenthesis ')' must have a corresponding left parenthesis '('.
            Left parenthesis '(' must go before the corresponding right parenthesis ')'.
            '*' could be treated as a single right parenthesis ')' or a single left parenthesis '(' or an empty string "".
          </p>
          <div class="example-wrapper">
            <div class="examlpe">
              <p class="example-inner">
                <span>Example:</span> 1: Input: s = s = "()"
              </p>
              <p class="output"><span>Output:</span> true</p>

            </div>
          </div>
        </div>
        <div class="right wrapper">
          <textarea name="" id="" cols="100" rows="32">
            class Solution {
                public:
                    bool checkValidString(string s) {
                        
                    }
                };
          </textarea>
        </div>
      </div>
    </div>
  </section>